<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ pageTitle }}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ absolute_url('upload/images/favicon.ico') }}">
</head>
<body>
<header></header>
<main>
    <section>
        <div>
            {{ content }}
        </div>
    </section>
</main>
<footer></footer>
</body>
</html>
